{% load static sekizai_tags %}

{% addtoblock "css" %}<link rel="stylesheet" type="text/css" href="{% static "css/bio.css" %}"/>{% endaddtoblock %}

<div class="photos">
  {% for user in users %}
  <table class="bioitem">
    <tr>
      <td class="img" rowspan="2"><a class="link" href="{{ user.get_absolute_url }}">
          <img src="{% if user.photo %}{{ user.photo.url }}{% else %}{% static "images/sponsor.png" %}{% endif %}"/></a>
      </td>
      <td><p title="{{ user.email }}"><a href="{{ user.get_absolute_url }}">{{ user }} ({{ user.username }})</a></p></td>
    </tr>
    <tr>
      <td>
        <div class="bio">
          <p>{{ user.bio|truncatechars:244 }}&nbsp;</p>
          <div class="fund">
          {% for socmed in user.social_media_urls.all %}
            {% if socmed.site.is_funding %}
             <a href="{{ socmed.url }}" rel="nofollow noopener" target="_blank"><img src="{{   socmed.icon }}" title="{{ socmed.name }}"/><span>{{ socmed.name }}</span></a>
            {% endif %}
          {% endfor %}
          </div>
        </p>
      </td>
    </tr>
  </table>

  {% endfor %}
</div>
