{% load i18n jsonify %}

<h3>{% if title %}{{ title }}{% else %}{% trans "Count" %}{% endif %}</h3>

{% if nodata %}
    <div class="ct-chart ct-cc-{{ name }}" style="display: block; height: 150px; width: 100%; text-align: center; padding-top: 50px; background-color: #eee;">
       <h3>{% trans "No Data" %}</h3>
    </div>
{% else %}
<div class="ct-chart ct-cc-{{ name }}"></div>

<script>
    document.addEventListener("DOMContentLoaded", function(event) {
        var dj_options = {{ options|jsonify }};
        var data = [
            {% for name, value in raw %}{
                dtm: new Date("{{ name|date:"c" }}"),
                value: {{ value }},
            },{% endfor %}
        ];
        new Chartist.Line('.ct-cc-{{ name }}', {
            series: [
                data.map(function(s) {
                    // Meta is only needed if using the tooltip plugin.
                    return {x: s.dtm, y: s.value, meta: s.value + ' on ' + s.dtm.toDateString()};
                })
            ]
        }, {
            axisX: {
                type: Chartist.AutoScaleAxis,
                showGrid: true,
                scaleMinSpace: 60,
                labelInterpolationFnc: function(value, index) {
                    return (new Date(value)).toLocaleDateString();
                },
            },
            axisY: {
                showGrid: false,
            },
            {% for name, value in options.items %}{{name}}: {{ value|jsonify }},
            {% endfor %}
            height: 300,
            fullWidth: true,
            plugins: [
                Chartist.plugins.tooltip(),
            ],
        });
    });
</script>
{% endif %}

