{% extends "modal.html" %}
{% load i18n static inkscape timers extras %}

{% block "title" %}
{% blocktrans %}List files by size for managing your quota{% endblocktrans %}
<span style="float: right;">Total: <span class="btn btn-primary">{{ user.resources.disk_usage|filesizeformat }} {% trans "of" %} {{ user.quota|filesizeformat }} ({{ user.resources.disk_usage|percent:user.quota }})</span></span>
{% endblock %}

{% block "dialog-body" %}
  <table class="alternating" style="width: 100%;">
    <thead>
      <tr>
        <th>{% trans "Name" %}</th>
        <th>{% trans "Created" %}</th>
        <th>{% trans "Size" %}</th>
        <th>{% trans "Delete" %}</th>
      </tr>
    </thead>
    <tbody>
  {% for resource in object_sorted %}
    {% if resource.disk_usage > 0 %}
    <tr class="{% cycle "even" "odd" %}">
      <td><a href="{{ resource.get_absolute_url }}">{{ resource }}</a></td>
      <td>{{ resource.created|timetag }}</td>
      <td>{{ resource.disk_usage|filesizeformat }}</td>
      <td>
        <a href="{% url "edit_resource" resource.id %}" class="btn btn-default">...</a>
        <a href="{% url "delete_resource" resource.id %}" class="btn btn-danger">X</a>
      </td>
    </tr>
    {% endif %}
  {% empty %}
    <tr>
      <td colspan="4"><h1>{% trans "No Uploaded Content" %}</h1></td>
    </tr>
  {% endfor %}
    </tbody>
  </table>
{% endblock %}

{% block "dialog-buttons" %}
{% endblock %}
