{% extends 'resources/resource_base.html' %}
{% load i18n extras static %}

{% block "description" %}
  <form name="resourceForm" id="resourceForm" method="post" enctype="multipart/form-data" data-quota="{{ form.get_space }}">
    {% csrf_token %}

    <div class="image uploader">
      {% if form.download %}
        <label for="id_thumbnail" {% if object.thumbnail %}data-filename="{{ object.thumbnail }}"{% endif %} data-label="{% trans "Choose an icon..." %}">
          {% if object.thumbnail %}
            <img src="{{ object.thumbnail_url }}" data-static="{% static "" %}"/>
            <p>{% trans "Icon:" %} {{ object.thumbnail_name }}</p>
          {% else %}
            <img src="{% static "images/upload.svg" %}" alt="{% trans "Click to select icon file" %}"/>
            <p>{% trans "Choose an icon..." %}</p>
          {% endif %}
        </label>
        {{ form.thumbnail }}

        <label for="id_rendering" {% if object.rendering %}data-filename="{{ object.rendering }}"{% endif %} data-label="{% trans "Choose a screenshot..." %}">
          {% if object.rendering %}
            <img src="{{ object.rendering_url }}" data-static="{% static "" %}"/>
            <p>{% trans "Screenshot:" %} {{ object.rendering_name }}</p>
          {% else %}
            <img src="{% static "images/upload.svg" %}" alt="{% trans "Click to select screenshot file" %}"/>
            <p>{% trans "Choose a screenshot..." %}</p>
          {% endif %}
        </label>
        {{ form.rendering }}

        {% if form.rendering.errors or form.thumnail.errors %}
          <div class="errors">{{ form.rendering.errors }} {{ form.thumbnail.errors }}</div>
        {% endif %}
      {% endif %}

      <p class="coc-note">{% blocktrans %}Make sure you read the <a href="/community/coc/">code of conduct</a> for rules on uploading extensions.{% endblocktrans %}</p>
    </div>

  {% if not form.hide_info %}
  <div class="info">
    {% if form.name %}
      <h2>{{ form.name|placeholder:_("Extension Name") }}</h2>
    {% elif not form %}
      <div class="title">
        <h2>{{ object.name }}</h2>
        <span class="by">{% trans "by" %}
          <a href="{{ object.user.get_absolute_url }}">{{ object.user }}</a>
        </span>
      </div>
    {% endif %}
    <div class="desc{% if form.desc.errors %} descerr{% endif %}">
      {{ form.desc|placeholder:_("Description of your artwork or resource") }}
    </div>
    <div class="side">
      {% for field in form.auto %}
        <div id="{{ field.name }}_set">
          <h2 {% if field.errors %}class="error" title="{{ field.errors.as_text }}"{% endif %}>{{ field.label }}{% if field.field.required %} *{% endif %}</h2>
          {{ field }}
        </div>
      {% endfor %}
    </div>
  </div>
  {% endif %}

  <div id="item-footer" class="clearfix">
    {% if form.tags %}
      {% if form.tags.errors %}
        <div class="error">{{ form.tags.errors.as_text }}</div>
      {% endif %}
      {{ form.tags|placeholder:_("Add your tags here, separated by comma") }}
    {% endif %}

    {% if object.published or not form.published %}
      <button type="submit" name="published" value="1" class="btn btn-default">{% trans "Save" %}</button>
      {% if form.published %}
        <button type="submit" name="published" value="" class="btn btn-danger">{% trans "Unpublish" %}</button>
      {% endif %}
    {% else %}
      <button type="submit" name="published" value="1" class="btn btn-default">{% trans "Publish" %}</button>
      <button type="submit" name="published" value="" class="btn btn-default">{% trans "Save Only" %}</button>
    {% endif %}
    </form>

    <form method="get" action="{{ cancel }}">
      <button type="submit" name="cancel" value="1" class="btn btn-default">{% trans "Cancel" %}</button>
    </form>
  </div>

	<div id="video-data-1"></div>
  </div>
{% endblock %}
