{% load i18n static extras %}

{% for field in fieldset.hidden_fields %}
  {{ field }}
{% endfor %}

{% for field in fieldset.visible_fields|default:fieldset %}
  <div class="form-group group-{{ field.auto_id }}{% if field.errors %} has-error{% endif %}">
    {% if field.errors %}
      {% for error in field.errors %}
        {% if error != "Invalid IP Address" %}
          <span class="text-danger">
            <br />{{ field.label_tag }} {{ error }}
          </span>
        {% else %}
      {{ field.label_tag }}
        {% endif %}
      {% endfor %}
    {% else %}
      {{ field.label_tag }}
    {% endif %}
    {% if field|is_checkbox %}
    <div class="onoffswitch{% if field.field.opposite %} opposite{% endif %}{% if field.field.delete %} delete{% endif %}{% if field.field.disabled %} disabled{% endif %}">
        {{ field }}
        <label class="onoffswitch-label" for="{{ field.auto_id }}">
          <span class="onoffswitch-inner"></span>
          <span class="onoffswitch-switch"></span>
        </label>
      </div>
    {% else %}
      {% if forloop.first %}
        {{ field|placeholder:field.label|formfield|autofocus }}
      {% else %}
        {{ field|placeholder:field.label|formfield }}
      {% endif %}
    {% endif %}
    {% if field.help_text %}
      <small class="form-text text-muted">{{ field.help_text|safe }}</small>
    {% endif %}
  </div>
{% endfor %}
