{% extends "modal.html" %}
{% load i18n static cal %}

{% block "js" %}{{ block.super }}
  <script type="text/javascript" src="{% static "js/localtime.js" %}"></script>
{% endblock %}

{% block "meta" %}
  <meta name="author" content="{{ objct.creator }}" />
  <meta name="description" content="{{ object.next_start|date:"c" }} // {% if object.link %}{{ object.link }}{% else %}{{ request.build_absolute_uri }}{{ object.get_absolute_url }}{% endif %}
{{ object.description|striptags|truncatechars:100 }}"/>
  <meta name="keywords" content="inkscape,calendar,entry,meeting,{{ object.parent }}" />
  <meta property="og:image" content="{% static "images/inkscape-og-calendar.png" %}" />
{% endblock %}

{% block "dialog-body" %}

  <p>{{ object.description|safe }}</p>

  {% if object.link %}
    <div style="text-align: center;">
    {% if object.is_video_link %}
      <a href="{{ object.link }}" class="btn btn-primary">{% trans "Video Link" %}</a>
    {% else %}
      <a href="{{ object.link }}">{% trans "Link" %}</a>
    {% endif %}
    </div>
  {% endif %}

  <hr/>


<table class="alternating" style="width: 100%;">

  {% with object.current_occurance as event %}
    {% if event %}
      <tbody>
        <tr class="row-success">
          <td style="white-space:nowrap;">
            <span class="btn btn-success" data-event="{{ event.start|date:"c" }}">{{ event.start }}</span>
          </td>
          <td style="white-space:nowrap;">
            <span class="btn">{{ event.start|relative:event.end }}</span>
          </td>
        </tr>
        <tr>
          <td colspan="2"><hr/></td>
        </tr>
      </tbody>
    {% endif %}
  {% endwith %}

  <tbody>
    {% with object.prev_occurance as event %}
      {% if event %}
        <tr class="row-disabled">
          <td style="white-space:nowrap;">
            <span class="btn disabled" data-event="{{ event.start|date:"c" }}">{{ event.start }}</span>
          </td>
          <td style="white-space:nowrap;">
            <span class="btn">{{ event.start|relative:event.end }}</span>
          </td>
        </tr>
      {% endif %}
    {% endwith %}

      {% for event in object.next_five %}
        <tr class="{% cycle "even" "odd" %}">
          <td style="white-space:nowrap;">
            <span class="btn btn-default" data-event="{{ event.start|date:"c" }}">{{ event.start }}</span>
          </td>
          <td style="white-space:nowrap;">
            <span class="btn">{{ event.start|relative:event.end }}</span>
          </td>
        </tr>
      {% empty %}
        <tr class="odd">
          <td style="white-space:nowrap;" colspan="2">
              <span class="btn">{% trans "No more future events" %}</span>
          </td>
        </tr>
      {% endfor %}

  </tbody>
</table>
  
      {# for prev in object.repeat.prev_five #}
        <!--li class="prev">{{ prev.prev_start }} - {{ prev.prev_end }}</li-->
      {# endfor #}


{% endblock %}

{% block "dialog-buttons" %}
  {% if request.user.is_staff %}
    <a class="btn btn-danger" href="{% url "admin:calendars_event_delete" object.pk %}">{% trans "Delete" %}</a>
    <a class="btn btn-default" href="{% url "admin:calendars_event_change" object.pk %}">{% trans "Edit" %}</a>
  {% else %}
    <a class="btn btn-disabled" href="">{% trans "Delete" %}</a>
    <a class="btn btn-disabled" href="">{% trans "Edit" %}</a>
  {% endif %}
{% endblock %}
